 
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    padding-top: 100px; /* Location of the box */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
 
  /* Modal Content (Image) */
  .modal-content {
    height: 95%;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    object-fit: contain;
    background-color: black;
  }
 
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
 
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .display-none {
      display: none !important;
  }

  .display-block {
    display: block !important
  }

  :host ::ng-deep .mat-vertical-content {
    padding:0 !important;
  }

  :host ::ng-deep .mat-vertical-content-container {
    margin-left: 0 !important;
  }
  ::ng-deep .mat-vertical-stepper-header{
    pointer-events: none !important;
}

  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }