<app-paginated-table [rowDataList]="rowDataList" [tableHeaders]="tableHeaders" [totalRecords]="totalRecords"
  (infoFromTable)="infoFromTable($event)" (onPageChange)="onPageChange($event)"
  [titleOfTable]="'Pupae Buyers'" [searchClass]="'col-lg-11'" [searchHint]="'By Name,Phone,Id'">
  <div class="card-toolbar New">
    <div>
    <button type="button" class="btn btn-sm btn-success mr-2" routerLink="/resha-farms/rm-pupae-buyers/crud">+ New Buyer</button>
    </div>
  </div>
</app-paginated-table>