<app-paginated-table [titleOfTable]="'Spinning mills'"
 [tableHeaders]="tableHeaders"
 (infoFromTable)="tableInfo($event)"
 [rowDataList]="rowDataList"
 [totalRecords]="totalRecords"
 (onPageChange)="onPageChange($event)"
 [searchClass]="'col-lg-11'"
 [searchHint]="'By Name,Phone'">
  <div class="card-toolbar New">
    <div>
    <button type="button" class="btn btn-sm btn-success mr-2" routerLink="/resha-farms/spinning-mills/crud"> + New Spinning Unit</button>
    </div>
  </div>
</app-paginated-table>
