<div class="bg-white rounded mb-4 d-flex align-items-center py-2 sticky-header justify-content-between">
    <ul id="breadcrumbs">
        <li><span style="cursor: pointer;" class="hover-item"
            (click)="goBack()">All Logistics Partners</span></li>
        <li><span>{{specificLogisticDetails?.code}}</span></li>
    </ul>
    <div>
        <button class="btn btn-secondary btn-sm font-weight-bolder font-size-sm py-3 px-6 mr-5"
        (click)="goBack()">Back</button>
    </div>
</div>

<div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
        <!--begin::Card-->
        <div class="card card-custom gutter-b">
            <!--begin::Body-->
            <div class="card-body pt-4">
                <!--begin::Toolbar-->
                <div class="d-flex justify-content-between align-items-baseline mt-5 mb-2">
                    <div class="font-size-h5 mb-3">
                        Logistics Partner Profile
                    </div>
                    <!-- <button class="btn btn-outline-success btn-sm " *ngIf="userType.role !== 'READADMIN'"  (click)="editGinner()">
                        Edit
                    </button> -->

                </div>
                <!--end::Toolbar-->
                <!--begin::User-->
                <div class="d-flex align-items-center mb-7">
                    <!--begin::Pic-->
                    <div class="flex-shrink-0 mr-4 mt-lg-0 mt-3">
                        <!-- <div class="symbol symbol-lg-75 symbol-square symbol-secondary">
                            <span class="symbol-label font-size-h3 font-weight-boldest">{{ginnerDetails.initial}}</span>
                        </div> -->
                        <!-- <div class="image-input image-input-outline" id="kt_profile_avatar">
                            <div *ngIf="!previewImage && ginnerDetails?.initial" class="symbol symbol-lg-75 symbol-square symbol-secondary">
                                <span class="symbol-label font-size-h3 font-weight-boldest">{{ginnerDetails?.initial}}</span>
                            </div>
                            <img *ngIf="previewImage" class="image-input-wrapper" [src]="previewImage || './assets/media/users/blank.png'"/>
                            <label *ngIf="userType.role !== 'READADMIN'" class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                              data-action="change"
                              data-toggle="tooltip"
                              title=""
                              data-original-title="Change avatar"
                            >
                              <i class="fa fa-pen icon-sm text-muted"></i>
                              <input
                                type="file"
                                name="profile_avatar"
                                accept=".png, .jpg, .jpeg"
                                (change)="onImageUpload($event);"
                              />
                              <input type="hidden" name="profile_avatar_remove" />
                            </label>
                            <span
                              class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                              data-action="cancel"
                              data-toggle="tooltip"
                              title=""
                              data-original-title="Cancel avatar"
                            >
                              <i class="ki ki-bold-close icon-xs text-muted"></i>
                            </span>
                            <span
                              *ngIf="previewImage && userType.role !== 'READADMIN'"
                              class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                              (click)="remove()"
                              data-action="remove"
                              data-toggle="tooltip"
                              title=""
                              data-original-title="Remove avatar"
                            >
                              <i class="ki ki-bold-close icon-xs text-muted"></i>
                            </span>
                          </div> -->
                    </div>
                    <!--end::Pic-->
                    <!--begin::Title-->
                    <!-- <div class="d-flex flex-column">
                        <span class="text-success font-weight-bold font-size-h4 mb-0">
                            {{specificLogisticDetails?.merchantName}}
                        </span>
                        <span class="text-muted font-weight-bold">{{specificLogisticDetails?.id}}</span>
                        <span class="text-muted font-weight-bold">{{logistics appVersion}}</span>
                        <span class="text-success font-weight-bold" *ngIf="noOfKYCDocs?.length>0 && ginnerDetails.customerTypeName">{{noOfKYCDocs.length}} document/s uploaded. Click <u class="text-warning cursor-pointer" (click)="navigateToKyc();">here</u> to update or add more.</span>
                        <span class="text-danger font-weight-bold" *ngIf="noOfKYCDocs?.length==0 && ginnerDetails.customerTypeName">No KYC documents uploaded. Click <u class="text-warning cursor-pointer" (click)="navigateToKyc();">here</u> to upload.</span>
                        <span class="text-danger font-weight-bold" *ngIf="(noOfKYCDocs?.length==0 || noOfKYCDocs?.length>0) && !ginnerDetails.customerTypeName">Please select a customer type to proceed with KYC.</span>
                    </div> -->
                    <!--end::Title-->
                </div>
                <!--end::User-->
                <!--begin::Info-->
                <div class="mb-7">
                    <div class="d-flex justify-content-between align-items-center">
                      <span class="text-muted font-weight-bolder mr-2">Partner Type:</span>
                      <span class="text-dark-75 font-weight-bold">{{specificLogisticDetails?.type}}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted font-weight-bolder mr-2">Company/Owner Name:</span>
                        <span class="text-dark-75 font-weight-bold">{{specificLogisticDetails?.merchantName}}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted font-weight-bolder mr-2">RM Code:</span>
                        <span class="text-dark-75 font-weight-bold">{{specificLogisticDetails?.id}}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted font-weight-bolder mr-2">Phone:</span>
                        <span class="text-dark-75 font-weight-bold">{{specificLogisticDetails?.mobile}}</span>
                    </div>
                    <!-- <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted font-weight-bolder mr-2">RM Center:</span>
                        <span class="text-dark-75 font-weight-bold">{{centerName}}</span>
                    </div> -->
                </div>
                <!--end::Info-->
                <!--begin::Info-->
                <div class="mb-7">

                    <!-- <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted font-weight-bolder mr-2">Cotton type:</span>
                        <span class="text-dark-75 font-weight-bold">{{ginnerDetails?.cottonTypes?.toString()}}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted font-weight-bolder mr-2"> Land Size (Acres):</span>
                        <span class="text-dark-75 font-weight-bold">{{ginnerDetails.landSize}}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted font-weight-bolder mr-2">Production Capacity (Bales/Day):</span>
                        <span class="text-dark-75 font-weight-bold">{{ginnerDetails.productionCapacityBalesPerDay}}</span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted font-weight-bolder mr-2" [ngClass]="!(ginnerDetails.customerTypeName)?'danger':'muted'">Customer Type:</span>
                        <span class="text-dark-75 font-weight-bold">{{ginnerDetails.customerTypeName?ginnerDetails.customerTypeName:'-'}} <i class="ml-2 flaticon2-pen text-muted cursor-pointer" (click)="selectCustomerType();"></i></span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center" *ngIf="selectCustomerBoolean">
                        <span class="text-muted font-weight-bolder mr-2">Select Customer Type:</span>
                        <span class="text-dark-75 font-weight-bold">
                            <select class="form-control form-control-lg" [(ngModel)]="selectedCustomerType" (change)='onSelectOfCustomerType(selectedCustomerType, contentDelete);' placeholder="Select Type">
                                <option *ngFor="let item of kycCustomerTypes" [value]="item.id">{{item.name}}
                                </option>
                            </select>
                        </span>
                    </div> -->

                </div>
                <!--end::Info-->

                <p class="mt-7 mb-2">
                    <span class="text-success-75 font-weight-bolder pr-1">Address</span>
                </p>
                <p>
                    <span class="text-muted font-weight-bolder mr-2">
                        {{specificLogisticDetails?.address?.address}} {{specificLogisticDetails?.address?.village}}
                        {{specificLogisticDetails?.address?.taluk}} {{specificLogisticDetails?.address?.city}}
                    </span><br /><br />
                    <span class="text-muted font-weight-bolder mr-2 pt-2">{{specificLogisticDetails?.address?.district ?
                        specificLogisticDetails?.address?.district + ' District, ' : ''}} {{specificLogisticDetails?.address?.state}},
                        {{specificLogisticDetails?.address?.pincode}}</span>
                </p>

                <p class="mt-7 mb-2">
                    <span class="text-success-75 font-weight-bolder pr-1">Bank</span>
                </p>
                <div class="mb-7">
                    <div class="d-flex justify-content-between align-items-cente my-2">
                        <span class="text-muted font-weight-bolder mr-2">Beneficiary Name:</span>
                        <span
                            class="text-dark-75 font-weight-bold">{{specificLogisticDetails?.bankDetails[0]?.beneficiaryName}}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-cente my-2">
                        <span class="text-muted font-weight-bolder mr-2">Bank:</span>
                        <span class="text-dark-75 font-weight-bold">{{specificLogisticDetails?.bankDetails[0]?.bankName}}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center my-2">
                        <span class="text-muted font-weight-bolder mr-2">IFSC Code:</span>
                        <span class="text-dark-75 font-weight-bold">{{specificLogisticDetails?.bankDetails[0]?.ifscCode}}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted font-weight-bolder mr-2">Account Number:</span>
                        <span
                            class="text-dark-75 font-weight-bold">{{specificLogisticDetails?.bankDetails[0]?.accountNumber}}</span>
                    </div>
                </div>

            </div>
            <!--end::Body-->
        </div>
        <!--end::Card-->
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8">
        <mat-tab-group>
            <mat-tab label="Drivers">
              <app-paginated-table [rowDataList]="rowDriverDataList" [tableHeaders]="driverTableHeaders" [totalRecords]="totalRecords"
                (infoFromTable)="driverInfoFromTable($event)" (onPageChange)="onPageChange($event)"
                [titleOfTable]="'Drivers List'" [searchClass]="'col-lg-10'"[searchHint]="'By Name,Phone,Id'">
                <div class="card-toolbar New">
                  <div>
                  <button type="button" class="btn btn-sm btn-success mr-2" (click)="openDriverForm(createDrivers)" *ngIf="specificLogisticDetails?.type == 'COMPANY'">+ New Driver</button>
                  </div>
                </div>
              </app-paginated-table>
            </mat-tab>
            <mat-tab label="Vehicles">
              <app-paginated-table [rowDataList]="rowVehicleDataList" [tableHeaders]="vehicleTableHeaders" [totalRecords]="totalRecords"
                (infoFromTable)="vehicleinfoFromTable($event)" (onPageChange)="onVehiclePageChange($event)"
                [titleOfTable]="'Vehicles List'" [searchClass]="'col-lg-10'" [searchHint]="'By id'">
                <div class="card-toolbar New">
                  <div>
                  <button type="button" class="btn btn-sm btn-success mr-2" (click)="openVehicleForm(createVehicles)">+ New Vehicle</button>
                  </div>
                </div>
              </app-paginated-table>
            </mat-tab>
        </mat-tab-group>
    </div>






    <div class="example-preview">
        <div>
            <ng-template #contentDelete let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h3 >Are you sure that you want to change the customer type?</h3>
                </div>
                <div class="modal-body">
                    <p class="text-warning mt-2">Your existing KYC data will be lost after proceeding.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click');">No</button>
                    <!-- <button type="button" class="btn btn-primary" (click)="ConfirmDeleteRecord()">Yes</button> -->
                </div>
            </ng-template>
        </div>
    </div>



    <!-- popups -->
    <!-- Create Drivers form -->
    <div class="create-drivers">
      <div>
        <ng-template #createDrivers let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Enter Driver Details</h4>
            </div>
            <div class="modal-body form-height pt-0">

                <div class="col-lg-12">

                    <div class="row" [formGroup]="createDriverForm">
                      <div class="col-lg-12 mt-2">
                        <label class="form-label">Driver Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg" name="name" placeholder="Name"
                          autocomplete="off" [class.is-invalid]="isDriverFormControlInvalid('driverName')"
                          [class.is-valid]="isDriverFormControlValid('driverName')"
                          formControlName="driverName" />
                        <div class="invalid-feedback" *ngIf="DriverFormcontrolHasError('required', 'driverName')">Name is required</div>
                      </div>

                      <div class="col-lg-12 mt-2">
                        <label class="form-label">Mobile Number<span class="text-danger">*</span></label>
                          <input type="text" class="form-control form-control-lg" name="driverNumber"
                            placeholder="Mobile Number" autocomplete="off" [class.is-invalid]="isDriverFormControlInvalid('driverNumber')"
                            [class.is-valid]="isDriverFormControlValid('driverNumber')" formControlName="driverNumber" />
                          <div class="valid-feedback" *ngIf="isDriverFormControlValid('driverNumber')">Mobile number was entered correct
                          </div>
                          <div class="invalid-feedback" *ngIf="DriverFormcontrolHasError('required', 'driverNumber')">Mobile number is
                            required</div>
                      </div>
                      <div class="col-lg-12 mt-6">
                        <ngb-accordion #acc11="ngbAccordion">
                          <ngb-panel id="toggle-address">
                            <ng-template ngbPanelTitle>
                              <span class="ard-header--title text-success">Driving License Details<span class="text-danger">*</span></span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                              <div class="row">
                                <div class="col-lg-12 mt-2">
                                  <label class="form-label">Driving Liense No.<span class="text-danger">*</span></label>
                                  <input type="text" class="form-control form-control-lg" name="Land Size"
                                    placeholder="Driving Liense No" autocomplete="off" formControlName="DrivingLienseNumber" />
                                </div>

                                <!-- <div class="col-lg-12 mt-2">
                                  <label class="form-label">Cotton Types</label>
                                  <mat-form-field appearance="legacy" class="w-100">
                                    <mat-select multiple formControlName="cottonTypes" >
                                      <mat-option *ngFor="let item of cottonTypes" [value]="item" >
                                        {{item}}
                                    </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div> -->

                                <div class="col-lg-12 mt-2">
                                  <label class="form-label">Name on DL<span class="text-danger">*</span></label>
                                  <input type="text" class="form-control form-control-lg" name="city"
                                    placeholder="Name on DL" autocomplete="off" formControlName="nameOnDl" />
                                </div>

                                <div class="col-lg-12 mt-2">
                                  <label class="form-label">Fathers/Guardians Name</label>
                                  <input type="text" class="form-control form-control-lg" name="city"
                                    placeholder="Fathers/Guardians Name" autocomplete="off" formControlName="fatherName" />
                                </div>

                                <div class="col-lg-12 mt-2">
                                    <label for="name"> Date of DL Issued<span class="text-danger">*</span></label>
                                    <!-- <br> -->
                                    <mat-form-field class="w-100 cursor-pointer" appearance="fill" (click)="dpDL.open()">
                                        <input formControlName="DlIssuedDate" class="cursor-pointer" matInput [matDatepicker]="dpDL"
                                        (click)="dpDL.open()" (dateChange)="changeDateTimeEvent($event)" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="dpDL"></mat-datepicker-toggle>
                                        <mat-datepicker #dpDL disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-12 mt-2">
                                    <label for="name">DL Expiry Date<span class="text-danger">*</span></label>
                                    <!-- <br> -->
                                    <mat-form-field class="w-100 cursor-pointer" appearance="fill" (click)="dpDLEXP.open()">
                                        <input formControlName="DlExpiryDate" class="cursor-pointer" matInput [matDatepicker]="dpDLEXP"
                                        (click)="dpDLEXP.open()" [min]="expiaryDate" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="dpDLEXP"></mat-datepicker-toggle>
                                        <mat-datepicker #dpDLEXP disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                              </div>
                            </ng-template>
                          </ngb-panel>
                        </ngb-accordion>
                      </div>

                      <div class="col-lg-12 mt-6">
                        <ngb-accordion #acc11="ngbAccordion">
                          <ngb-panel id="toggle-bank">
                            <ng-template ngbPanelTitle>
                              <span class="ard-header--title text-success">Bank Details<span class="text-danger">*</span></span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                              <div>
                                <div class="row pb-10">
                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">Account Holder’s Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control form-control-lg"
                                      placeholder="Account Holder’s Name" autocomplete="off" formControlName="beneficiaryName" />
                                  </div>

                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">Bank Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control form-control-lg"
                                      placeholder="Bank Name" autocomplete="off" formControlName="bankName" />
                                  </div>

                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">Bank Account Number<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control form-control-lg"
                                      placeholder="Bank Account Number" autocomplete="off" formControlName="accountNumber">
                                  </div>
                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">IFSC Code<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control form-control-lg"
                                      placeholder="IFSC Code" autocomplete="off" formControlName="ifscCode">
                                  </div>

                                </div>
                              </div>
                            </ng-template>
                          </ngb-panel>
                        </ngb-accordion>
                      </div>

                      <div class="col-lg-12 mt-6">
                        <ngb-accordion #acc11="ngbAccordion">
                          <ngb-panel id="toggle-bank">
                            <ng-template ngbPanelTitle>
                              <span class="ard-header--title text-success">Address Details </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                              <div>
                                <div class="row pb-10">
                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">Address</label>
                                    <input type="text" class="form-control form-control-lg" name="Address"
                                      placeholder="Address" autocomplete="off" formControlName="address" />
                                  </div>
                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">Village</label>
                                    <input type="text" class="form-control form-control-lg" name="Village"
                                      placeholder="Village" autocomplete="off" formControlName="village" />
                                  </div>
                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">City</label>
                                    <input type="text" class="form-control form-control-lg" name="city"
                                      placeholder="City" autocomplete="off" formControlName="city" />
                                  </div>
                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">District</label>
                                    <input type="text" class="form-control form-control-lg" name="District"
                                      placeholder="District" autocomplete="off" formControlName="district" />
                                  </div>
                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">Taluk</label>
                                    <input type="text" class="form-control form-control-lg" name="Taluk"
                                      placeholder="Taluk" autocomplete="off" formControlName="taluk" />
                                  </div>
                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">Region</label>
                                    <input type="text" class="form-control form-control-lg" name="region"
                                      placeholder="Region" autocomplete="off" formControlName="region" />
                                  </div>
                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">State</label>
                                    <input type="text" class="form-control form-control-lg" name="State"
                                      placeholder="State" autocomplete="off" formControlName="state" />
                                  </div>
                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">PIN Code</label>
                                    <input type="text" class="form-control form-control-lg" name="PIN Code"
                                      placeholder="PIN Code" autocomplete="off" formControlName="pincode" />
                                  </div>
                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">Latitude</label>
                                    <input type="text" readonly class="form-control form-control-lg" name="PIN Code"
                                      placeholder="Latitude" autocomplete="off" formControlName="latitude" />
                                  </div>
                                  <div class="col-lg-12 mt-2">
                                    <label class="form-label">Longitude</label>
                                    <input type="text" readonly class="form-control form-control-lg" name="PIN Code"
                                      placeholder="Longitude" autocomplete="off" formControlName="longitude" />
                                  </div>

                                </div>
                              </div>
                            </ng-template>
                          </ngb-panel>
                        </ngb-accordion>
                      </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary"
                                      (click)="c('Close click');createDriverForm.reset();">Cancel</button>
                <button type="button" class="btn btn-sm btn-success" [disabled]="createDriverForm.invalid"
                  (click)="createDriver(createDriverForm.value)">Save</button>
                                      <!--    -->
            </div>
        </ng-template>
      </div>
    </div>

    <!-- Create vehicles Form -->
    <div class="create-vehicles">
      <div>
        <ng-template #createVehicles let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Enter Vehicle Details</h4>
            </div>
            <div class="modal-body form-height pt-0">

                <div class="col-lg-12">

                    <div class="row" [formGroup]="createVehicleForm">
                      <div class="col-lg-12 mt-2">
                        <label>Select Vehicle Type </label>
                        <select class="form-control form-control-lg" formControlName="vehicleType" name="customerType"
                          placeholder="Select Vehicle Type">
                          <option *ngFor="let type of vehicleTypes" [value]="type.name">{{type.name}}</option>
                          <!-- <option value="LMV">LMV (motorcars, jeeps, taxis, delivery vans)</option>
                          <option value="HMV">HMV(Heavy Motor Vehicles)</option> -->
                        </select>
                        <!-- <label class="form-label">Vehicle Type<span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg" name="vehicleType" placeholder="vehicle Type"
                          autocomplete="off" [class.is-invalid]="isVehicleFormControlInvalid('vehicleType')"
                          [class.is-valid]="isVehicleFormControlValid('vehicleType')"
                          formControlName="vehicleType" /> -->
                        <div class="invalid-feedback" *ngIf="VehicleFormcontrolHasError('required', 'vehicleType')">Vehicle Type is required</div>
                      </div>

                      <div class="col-lg-12 mt-2">
                        <label class="form-label">Vehicle Number<span class="text-danger">*</span></label>
                          <input type="text" class="form-control form-control-lg" name="vehicleNumber"
                            placeholder="Vehicle Number" autocomplete="off" [class.is-invalid]="isVehicleFormControlInvalid('vehicleNumber')"
                            [class.is-valid]="isVehicleFormControlValid('vehicleNumber')" formControlName="vehicleNumber" />
                          <div class="invalid-feedback" *ngIf="VehicleFormcontrolHasError('required', 'vehicleNumber')">Vehicle number is
                            required</div>
                      </div>
                      <div class="col-lg-12 mt-6">
                        <ngb-accordion #acc11="ngbAccordion">
                          <ngb-panel id="toggle-bank">
                            <ng-template ngbPanelTitle>
                              <span class="ard-header--title text-success">RC Details</span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                              <!-- <div class="col-lg-12 mt-2">
                                <label class="form-label">Registration Document Name</label>
                                  <input type="text" class="form-control form-control-lg" name="rcDocUrl"
                                    placeholder="Document Name" autocomplete="off"
                                     formControlName="documentName" />
                              </div> -->
                              <div class="col-lg-12 mt-2">
                                <label class="form-label">Registration Document Number</label>
                                  <input type="text" class="form-control form-control-lg" name="rcNumber"
                                    placeholder="Document Number" autocomplete="off" [class.is-invalid]="isVehicleFormControlInvalid('rcNumber')"
                                    [class.is-valid]="isVehicleFormControlValid('rcNumber')" formControlName="rcNumber" />
                                  <div class="invalid-feedback" *ngIf="VehicleFormcontrolHasError('required', 'rcNumber')">RC number is
                                    required</div>
                              </div>
                              <div class="col-lg-12 mt-2">
                                <label class="form-label">Document Provider</label>
                                  <input type="text" class="form-control form-control-lg" name="rcProvider"
                                    placeholder="Reciept Provider" autocomplete="off" [class.is-invalid]="isVehicleFormControlInvalid('rcProvider')"
                                    [class.is-valid]="isVehicleFormControlValid('rcProvider')" formControlName="rcProvider" />
                                  <div class="invalid-feedback" *ngIf="VehicleFormcontrolHasError('required', 'rcProvider')">RC number is
                                    required</div>
                              </div>

                            </ng-template>
                          </ngb-panel>
                        </ngb-accordion>
                      </div>

                      <div class="col-lg-12 mt-6">
                        <ngb-accordion #acc11="ngbAccordion">
                          <ngb-panel id="toggle-bank">
                            <ng-template ngbPanelTitle>
                              <span class="ard-header--title text-success">Insurance Details</span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                              <!-- <div class="col-lg-12 mt-2">
                                <label class="form-label">Document Name</label>
                                  <input type="text" class="form-control form-control-lg" name="insurancename"
                                    placeholder="Insurance Id" autocomplete="off" [class.is-invalid]="isVehicleFormControlInvalid('insurancename')"
                                    [class.is-valid]="isVehicleFormControlValid('insurancename')" formControlName="insurancename" />
                                  <div class="invalid-feedback" *ngIf="VehicleFormcontrolHasError('required', 'insurancename')">Document Name
                                    required</div>
                              </div> -->
                              <div class="col-lg-12 mt-2">
                                <label class="form-label">InsuranceId</label>
                                  <input type="text" class="form-control form-control-lg" name="rcNumber"
                                    placeholder="Insurance Id" autocomplete="off" [class.is-invalid]="isVehicleFormControlInvalid('insuranceId')"
                                    [class.is-valid]="isVehicleFormControlValid('insuranceId')" formControlName="insuranceId" />
                                  <div class="invalid-feedback" *ngIf="VehicleFormcontrolHasError('required', 'insuranceId')">InsuranceId is
                                    required</div>
                              </div>
                              <div class="col-lg-12 mt-2">
                                <label class="form-label">Insurance Provider</label>
                                  <input type="text" class="form-control form-control-lg" name="insuranceProvider"
                                    placeholder="Insurance Provider" autocomplete="off" [class.is-invalid]="isVehicleFormControlInvalid('insuranceProvider')"
                                     formControlName="insuranceProvider" />
                              </div>

                            </ng-template>
                          </ngb-panel>
                        </ngb-accordion>
                      </div>



                      <!-- <div class="col-lg-12 mt-4">
                        <label>Upload Registration Certificate</label><br>
                           <div class="image-input image-input-outline m-1" id="kt_profile_avatar">
                            <img class="image-input-wrapper cursor-pointer"
                              [src]="createVehicleForm.get('rcDocUrl').value? createVehicleForm.get('rcDocUrl')?.value?.includes('.pdf')?'./assets/media/svg/files/pdf.svg': './assets/media/svg/files/jpg.svg' : './assets/media/users/blank.png'"
                              (click)="showImage(createVehicleForm.get('rcDocUrl').value)" style="width: 50px; height: 50px;" />
                            <label
                              class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                              data-action="change" data-toggle="tooltip" title=""
                              data-original-title="Change avatar">
                              <i class="fa fa-pen icon-sm text-muted"></i>
                              <input type="file" name="profile_avatar"
                                (change)="onImageUpload($event);" />
                              <input type="hidden" name="profile_avatar_remove" />
                            </label>
                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                              data-action="cancel" data-toggle="tooltip" title=""
                              data-original-title="Cancel avatar">
                              <i class="ki ki-bold-close icon-xs text-muted"></i>
                            </span>
                          </div>
                      </div> -->

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary"
                                      (click)="c('Close click');createVehicleForm.reset();">Cancel</button>
                <button type="button" class="btn btn-sm btn-success" (click)="createVehicle(createVehicleForm.value)"
                                        [disabled]="createVehicleForm.invalid"
                                      >Save</button>
                                      <!--   (click)="dispatchLots(createDriverForm.value)" -->
            </div>
        </ng-template>
      </div>
    </div>
