.app-disable{
    pointer-events: none;
    cursor: no-drop;
}
.selectWrapper .form-control-solid{
    padding: 0 !important;
    
}
.csbProof_label {
    background: #F4F6F9;
    padding: 10px;
    font-size: 16px;
}