<app-paginated-table [rowDataList]="rowDataList" [tableHeaders]="tableHeaders" [totalRecords]="totalRecords"
  (infoFromTable)="infoFromTable($event)" (onPageChange)="onPageChange($event)"
  [titleOfTable]="'Logistics'" [searchClass]="'col-lg-11'" [searchHint]="'By Name,Phone,Id'">
  <div class="card-toolbar New">
    <div>
    <button type="button" class="btn btn-sm btn-success mr-2" (click)="createNewLogisticPartner()">+ New Logistics Partner</button>
    </div>
  </div>
</app-paginated-table>


<div class="example-preview">
  <div>
      <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
              <h4 class="modal-title">BlackList {{selectedLGPartner.merchantName}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p *ngIf="!selectedLGPartner.isBlackListed">Are You Sure You Want To add <strong>{{selectedLGPartner.merchantName}}</strong> to Blacklist?</p>
              <p *ngIf="selectedLGPartner.isBlackListed">Are You Sure You Want To remove <strong>{{selectedLGPartner.merchantName}}</strong> from Blacklist?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="updateLPBlacklist()">Yes</button>
          </div>
      </ng-template>
  </div>
</div>