<div class="bg-white rounded mb-4 d-flex align-items-center py-2 sticky-header justify-content-between" >
    <ul id="breadcrumbs">
        <li><span style="cursor: pointer;"  class="hover-item" (click)="goBack()">Sales Order List</span></li>
        <li><span>{{code}}</span></li>
    </ul>
    <div>
        <app-back-button></app-back-button>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card card-custom gutter-b">
            <div class="card-body pt-4">
                <div class="d-flex justify-content-between align-items-baseline mt-5">
                    <div class="font-size-h5 mb-3 ">Sales Order Details</div>
                </div>
                <div class="mb-7">
                    <div class="d-flex justify-content-between align-items-cente my-2">
                        <span class="text-muted font-weight-bolder mr-2">Sales Order ID:</span>
                        <!-- <span class="text-dark-75 font-weight-bold">{{}}</span> -->

                    </div>
                    <div class="d-flex justify-content-between align-items-cente my-2">
                        <span class="text-muted font-weight-bolder mr-2">Farmer:</span>
                        <!-- <span class="text-dark-75 font-weight-bold">{{}}</span> -->

                    </div>
                    <div class="d-flex justify-content-between align-items-center my-2">
                        <span class="text-muted font-weight-bolder mr-2">Total Amount:</span>
                        <!-- <span class="text-dark-75 font-weight-bold">{{}}</span> -->

                    </div>
                    <div class="d-flex justify-content-between align-items-center my-2">
                        <span class="text-muted font-weight-bolder mr-2">Payment Status:</span>
                        <!-- <span class="text-dark-75 font-weight-bold">{{}}</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
