<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Silk Farmers</h3>
    </div>
    <div class="card-toolbar">
      <div>
        <button *ngIf="userType.role !== 'READADMIN'" type="button" class="btn btn-sm btn-success mr-2"
          (click)="createNew();">+ New Silk Farmer</button>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-4">
          <!-- <input [(ngModel)]="searchText" (keyup.enter)="buildonSearch();" (keyup)="onSearchKey($event)" type="text" class="form-control" placeholder="Search"/> -->
          <input type="text" class="form-control" (keyup.enter)="onSearch();"
            (keyup)="!searchText&&getFarmerList();paginationData.currentPage=0" [(ngModel)]="searchText"
            placeholder="Search" value="" />

          <small class="form-text text-muted"><b>Search</b> By Name and Phone.</small>
        </div>
        <div class="col-lg-1">
          <button type="button" class="btn btn-sm btn-success mr-2 mt-1" (click)="onSearch();">Search</button>
        </div>
        <!-- <div class="col-lg-2" [formGroup]="filter" *ngIf="productType">
            <select class="form-control" name="status" formControlName="productType">
              <option value="(Silk,Cotton)">All</option>
              <option value="Silk">Silk</option>
              <option value="Cotton">Cotton</option>
            </select><small class="form-text text-muted"><b>Filter</b> by product type</small>
          </div> -->
        <div>
          <div class="row" [formGroup]="filter">
            <div class="filter_category status_done">
              <label>
                <input type="checkbox" value="true" formControlName="csbStatus_Done"><span>Done</span>
              </label>
            </div>

            <div class="filter_category status_pending">
              <label>
                <input type="checkbox" value="false" formControlName="csbStatus_Pending"><span>Pending</span>
              </label>
            </div>
          </div>
          <small class="form-text text-muted"><b>Filter</b> By KYC Status</small>

        </div>

      </div>
    </div>
    <div class="table-responsive angular-bootstrap-table">
      <table id="excel-table" class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th name="code" ngDefaultControl [(ngModel)]="tableHeader.id" (click)="onSort('id')">
            <i *ngIf="tableHeader.id === 1 && activeSort === 'id'" class="fas fa-long-arrow-alt-up"></i>
            <i *ngIf="tableHeader.id === 0 && activeSort === 'id'" class="fas fa-long-arrow-alt-down"></i>
            RM Code
          </th>
          <th name="name" ngDefaultControl [(ngModel)]="tableHeader.name" (click)="onSort('name')">
            <i *ngIf="tableHeader.name === 1 && activeSort === 'name'" class="fas fa-long-arrow-alt-up"></i>
            <i *ngIf="tableHeader.name === 0 && activeSort === 'name'" class="fas fa-long-arrow-alt-down"></i>
            Name
          </th>
          <th name="phone" ngDefaultControl [(ngModel)]="tableHeader.phone" (click)="onSort('phone')">
            <i *ngIf="tableHeader.phone === 1 && activeSort === 'phone'" class="fas fa-long-arrow-alt-up"></i>
            <i *ngIf="tableHeader.phone === 0 && activeSort === 'phone'" class="fas fa-long-arrow-alt-down"></i>
            Phone
          </th>

          <!-- <th *ngIf="userType.role === 'ADMINISTRATOR'">Black List</th>
            <th name="village" ngDefaultControl [(ngModel)]="tableHeader.address.village" (click)="onSort('address.village')">
              <i *ngIf="tableHeader.address.village === 1 && activeSort === 'address.village'" class="fas fa-long-arrow-alt-up"></i>
              <i *ngIf="tableHeader.address.village === 0 && activeSort === 'address.village'" class="fas fa-long-arrow-alt-down"></i>
              Village
            </th> -->
          <th name="center" ngDefaultControl [(ngModel)]="tableHeader.center.centerName"
            (click)="onSort('center.centerName')">
            <i *ngIf="tableHeader.center.centerName === 1 && activeSort === 'center.centerName'"
              class="fas fa-long-arrow-alt-up"></i>
            <i *ngIf="tableHeader.center.centerName === 0 && activeSort === 'center.centerName'"
              class="fas fa-long-arrow-alt-down"></i>
            Center
          </th>
          <th name="displayCocoonType" ngDefaultControl [(ngModel)]="tableHeader.cocoonType"
            (click)="onSort('cocoonType')" *ngIf="filter.get('productType').value == 'Silk'">
            <i *ngIf="tableHeader.cocoonType === 1 && activeSort === 'cocoonType'" class="fas fa-long-arrow-alt-up"></i>
            <i *ngIf="tableHeader.cocoonType === 0 && activeSort === 'cocoonType'"
              class="fas fa-long-arrow-alt-down"></i>
            Type
          </th>
          <!-- <th>Referred By</th>
            <th *ngIf="filter.get('productType').value == 'Silk'">App Version</th> -->
          <th>KYC Status</th>
          <th name="chaakiDate" ngDefaultControl [(ngModel)]="tableHeader.chaakiDate" (click)="onSort('chaakiDate')"
            *ngIf="filter.get('productType').value == 'Silk'">
            <i *ngIf="tableHeader.chaakiDate === 1 && activeSort === 'chaakiDate'" class="fas fa-long-arrow-alt-up"></i>
            <i *ngIf="tableHeader.chaakiDate === 0 && activeSort === 'chaakiDate'"
              class="fas fa-long-arrow-alt-down"></i>
            Chawki Date
          </th>
          <th name="createdDate" ngDefaultControl [(ngModel)]="tableHeader.createdDate" (click)="onSort('createdDate')">
            <i *ngIf="tableHeader.createdDate === 1 && activeSort === 'createdDate'"
              class="fas fa-long-arrow-alt-up"></i>
            <i *ngIf="tableHeader.createdDate === 0 && activeSort === 'createdDate'"
              class="fas fa-long-arrow-alt-down"></i>
            Onboarding Date
          </th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredFarmersList" [ngClass]="{blacklist:item.isBlackListed}">
            <td><a matTooltip="Farmer Details" class="btn btn-link-success font-weight-bold"
                (click)="farmerDetail(item)">
                {{ item.code }}</a></td>
            <td>{{ item.name | titlecase }}</td>
            <td>{{ item.phone }}</td>
            <!-- <td class="selection-cell"  *ngIf="userType.role === 'ADMINISTRATOR'">
                <div class="switch switch-icon switch-sm">
                  <label class="checkbox checkbox-single">
                    <input type="checkbox" [checked]="item.farmer.isBlackListed" (click)="blackListFramer(blackListConfirm,item)"/>
                    <span></span>
                  </label>
                </div>
              </td>
              <td>{{ item.village }}</td> -->
            <td>{{ item.center }}</td>
            <td *ngIf="filter.get('productType').value == 'Silk'">{{ item.displayCocoonType }}</td>
            <!-- <td>{{ item.refferedBy | titlecase}}</td>
              <td *ngIf="filter.get('productType').value == 'Silk'">{{ item.appVersion }}</td>-->
            <td>
              <label for="" class="done_status" *ngIf="item?.documentVerified == true">Done</label>
              <label for="" class="cursor pending_status" *ngIf="item?.documentVerified == false"
                (click)="redirectToKycPage(item,item.id,item.customerTypeName)">Pending</label>
            </td>
            <td *ngIf="filter.get('productType').value == 'Silk'">{{ item.chaakiDate}}</td>

            <td>{{ item.createdDate }}</td>
            <td>
              <a matTooltip="Edit" class="btn btn-icon btn-sm mr-1 mt-1" *ngIf="userType.role !== 'READADMIN'"
                (click)="editFarmer(item)">
                <i class="flaticon-edit-1 text-success"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="row">
      <div class="ml-5 mr-2">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" [ngClass]="{'disabled': paginationData?.currentPage === 0}" (click)="onPageChange(0)"
                href="javascript:void(0);">
                <span aria-hidden="true">&laquo;&laquo;</span>
                <span class="sr-only">First</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" [ngClass]="{'disabled': paginationData?.currentPage === 0}"
                (click)="onPageChange(paginationData.currentPage - 1)" href="javascript:void(0);">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" *ngIf="paginationData?.currentPage !== 0 && paginationData?.currentPage !== 1"
                (click)="onPageChange(paginationData?.currentPage - 2)" href="javascript:void(0);">{{
                paginationData?.currentPage -1 }}</a>
            </li>
            <li class="page-item">
              <a class="page-link" *ngIf="paginationData?.currentPage !== 0"
                (click)="onPageChange(paginationData?.currentPage - 1)" href="javascript:void(0);">{{
                paginationData?.currentPage}}</a>
            </li>
            <li class="page-item">
              <a class="page-link active" href="javascript:void(0);">{{ paginationData?.currentPage + 1 }}</a>
            </li>
            <li class="page-item">
              <a class="page-link"
                *ngIf="paginationData?.pages.length !== 0 && paginationData?.currentPage !== paginationData.pages.length - 1"
                (click)="onPageChange(paginationData?.currentPage + 1)" href="javascript:void(0);">{{
                paginationData?.currentPage + 2 }}</a>
            </li>
            <li class="page-item">
              <a class="page-link"
                *ngIf="paginationData?.pages.length !== 0 && paginationData?.currentPage !== paginationData.pages.length - 1 && paginationData?.currentPage !== paginationData.pages.length - 2"
                (click)="onPageChange(paginationData?.currentPage + 2)" href="javascript:void(0);">{{
                paginationData?.currentPage + 3 }}</a>
            </li>
            <li class="page-item">
              <a class="page-link"
                [ngClass]="{'disabled': paginationData?.currentPage === paginationData.pages.length - 1 || paginationData?.pages.length === 0}"
                (click)="onPageChange(paginationData.currentPage + 1)" href="javascript:void(0);">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link"
                [ngClass]="{'disabled': paginationData?.currentPage === paginationData.pages.length - 1 || paginationData?.pages.length === 0}"
                (click)="onPageChange(paginationData.pages.length - 1)" href="javascript:void(0);">
                <span aria-hidden="true">&raquo;&raquo;</span>
                <span class="sr-only">Last</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mr-2">
        <select class="custom-select" style="height: calc(1.2em + 1rem + 2px); padding: 0.35rem 2rem 0.35rem 1rem;"
          [(ngModel)]="paginationData.pageSize" (change)="onPageSizeChange()">
          <option [ngValue]="10">10 per page</option>
          <option [ngValue]="50">50 per page</option>
          <option [ngValue]="100">100 per page</option>
        </select>
      </div>
      <div class="pt-2">
        <small class="text-muted">(Total: {{totalElements}})</small>
      </div>
    </div>
  </div>
</div>
<div class="example-preview">
  <div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Delete {{user.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are You Sure You Want To Delete <strong>{{user.name}}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="delete()">Yes</button>
      </div>
    </ng-template>
  </div>
</div>

<div class="delete-confirmation-preview">
  <div>
    <ng-template #blackListConfirm let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Blacklist Farmer</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to <span *ngIf="!blacklist.farmer.isBlackListed">add
            <strong>{{blacklist.name}}</strong> to blacklist</span><span *ngIf="blacklist.farmer.isBlackListed">remove
            <strong>{{blacklist.name}}</strong> from blacklist</span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="c('Close click')">Cancel</button>
        <button type="button" class="btn btn-sm btn-success" (click)="blacklistFarmerAPI()">Yes</button>
      </div>
    </ng-template>
  </div>