.app-disable{
    pointer-events: none;
    cursor: no-drop;
}
.selectWrapper .form-control-solid{
    padding: 0 !important;
    
}

.image-input .image-input-wrapper {
    width: 90px !important;
    height: 90px !important;
}