.dropdown-menu.show {
    top: -28px !important;
}
.other_text_area {
    width: 100%;
    margin-top: 23px;
    border: 1px solid #e4e6ef;
    border-radius: 5px;
}
.line_break_all {
    word-break: break-all;
}