.page-item {
    .active{
        pointer-events: none;
        color: #f9fdf6;
        background-color: #7ed321;
    }
    .disabled{
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
        &:hover{
            background-color: #f9fdf6 !important;
        }
    }
}
    th{
        cursor: pointer;
    }

    #breadcrumbs {
        list-style:none;
        display:flex;
        margin-bottom: 0 !important;
        padding-left: 2.25rem;
      }
      
      .hover-item:hover {
        text-decoration: none !important;
        transition:50ms !important;
        transition-delay:50ms !important;
        text-decoration:underline !important;
      }
    
      .hover-item {
        color:#569117;
        text-decoration:none;
      }
      
      #breadcrumbs li+li:before  {
        padding:8px;
        color:#000;
        content: "/\00a0";
      }
    
      .sticky-header {
          position: sticky;
          top: 65px;
          z-index: 1;
      }