.mat-form-field-appearance-fill, .mat-form-field-flex {
    /* background-color: rgba(0, 0, 0, 0.04); */
    background-color: #F3F6F9 !important;
    border-color: #F3F6F9 !important;
    color: #3F4254 !important;
}

.mat-form-field-wrapper {
    background: white !important;
}