#breadcrumbs {
    list-style:none;
    display:flex;
    margin-bottom: 0 !important;
    padding-left: 2.25rem;
  }
  
  .hover-item:hover {
    text-decoration: none !important;
    transition:50ms !important;
    transition-delay:50ms !important;
    text-decoration:underline !important;
  }

  .hover-item {
    color:#569117;
    text-decoration:none;
  }
  
  #breadcrumbs li+li:before  {
    padding:8px;
    color:#000;
    content: "/\00a0";
  }

  .sticky-header {
      position: sticky;
      top: 65px;
      z-index: 1;
  }

  .card-body {
    padding: 0rem 2.25rem !important;
  }

  .table-height {
    overflow: auto;
    max-height: 60vh;
  }

.danger{
  color: red !important;
}

.battery-red{
  color: red !important;
}

.battery-green{
  color:#7ed321 !important;
}
.border-color-green{
  border-color:#7ed321 !important;
}

.border-color-red{
  border-color:red !important;
}