<app-paginated-table [rowDataList]="rowDataList" [tableHeaders]="tableHeaders" [totalRecords]="totalRecords"
  (infoFromTable)="infoFromTable($event)" (onPageChange)="onPageChange($event)" (listenAndRefreshPayment)="getCottonOrders()"
  [titleOfTable]="'Cotton Sales'" [searchClass]="'col-lg-9'" [searchHint]="'By id'">

  <div class="col-lg-2 mt-2">
    <ng-container [formGroup]="filterForm">
      <select class="form-control" name="status" formControlName="paymentStatus"  placeholder="Filter by status">
        <option value="(Paid,Pending)">All</option>
        <option value="Paid">Paid</option>
        <option value="Pending">Pending</option>
      </select><small class="form-text text-muted"><b>Filter</b>by Payment Status</small>
    </ng-container>
  </div>

</app-paginated-table>





<div class="example-preview">
  <div>
    <ng-template #changeStatusPopUp let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Mark Order {{cottonOrderStatus | titlecase}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to mark the order {{cottonOrderStatus | lowercase}}?</p>

        <!-- if status is Cancelled -->
      </div>
      
      <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="markProcessing()">Mark {{cottonOrderStatus |
              lowercase}}</button>
      </div>
    </ng-template>
  </div>
</div>