<div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
  <!--begin::Login-->
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <!--begin::Aside-->
    <div class="login-aside d-flex flex-column flex-row-auto hide-on-mobile">

      <div class="aside-img d-flex flex-row-fluid position-relative">
        <img src="../../../assets/media/logos/left_img.png" alt='' style="max-width: 100%;max-height: 100vh;">
      </div>
    </div>
    <!-- <div class="position-relative">
      <div class="position-absolute" style="top: 10px;left: 10px;">
        <span>
          <img src="./assets/media/logos/logo-light.png" alt="logo">
        </span>
      </div>
    </div> -->
    <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
      <div class="d-flex align-items-center justify-content-center m-auto">
        <router-outlet></router-outlet>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="./assets/media/logos/ReshaFarms.svg" alt="logo" >
        </div>
        <div class="col-3">
          <img src="./assets/media/logos/ReshaYarn.svg" alt="logo">
        </div>
        <div class="col-3">
          <img src="./assets/media/logos/ReshaWeaves.svg" alt="logo">
    
        </div>
        <div class="col-3">
          <img src="./assets/media/logos/ReshaMudra.svg" alt="logo">
        </div>
      </div>

      <!-- <div class="d-flex justify-content-lg-start justify-content-center align-items-end py-7 py-lg-0">
        <a href="#" class="text-primary font-weight-bolder font-size-h5">CHANGE LANGUAGE</a>
        <a href="#" class="text-primary ml-10 font-weight-bolder font-size-h5">VISIT WEBPAGE</a>
      </div> -->
    </div>
  </div>
</div>