<div class="example-preview">
  <div>
    <div class="modal-header">
      <h3 class="modal-title text-danger">Warning</h3>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body form-height">
      <!-- <p> -->
      <h4 class="text-danger">Any discount above 2% needs approval. Proceed sales order creation with less than 2%.
        Please mail: <a
          href="mailto:discount.approval@reshamandi.com">discount.approval@reshamandi.com</a> with the justification for the discount
        request with the RM sales order code.</h4>
      <!-- </p> -->
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="close()">Ok</button>
    </div>
  </div>
</div>