.card-body{
    padding-top: 0rem !important;
}
.partition:hover{
    background-color: #FFA800 !important;
    color: #fff;
}
.selected{
    background-color: #7ed321 !important;
    color: #fff;
}

.greyOut{
    background-color: #e3e6ef;
     color: #bfc2cb;;
}